.password-field {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .form-label {
    margin-bottom: 0.5rem;

    font-family: $fonts;
    font-weight: 600;
    color: $main;
  }
  .form-control {
    font-weight: 300;
  }
  .invalid-feedback {
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .btn-eye {
    background: none;
    border-style: none;
    position: relative;
    top: -35px;
    left: 254px;
    display: none;
  }
}
