.password-field {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .form-label {
    margin-bottom: 0.5rem;

    font-family: $fonts;
    font-weight: 300;
    color: $tertiary-color;
  }
  .form-control {
    font-weight: 200;
    color: $tertiary-color;
  }

  // .invalid-feedback {
  //   margin-top: 0.5rem;
  //   font-weight: 500;
  //   color: $red-500;
  // }

  // .btn-eye {
  //   background: none;
  //   border-style: none;
  //   position: relative;
  //   top: -35px;
  //   left: 254px;
  // }
}
