.video-player {
  .video-controls {
    background-color: rgba(0, 0, 0, 0.438);
    position: relative;
    top: -70px;
    padding: 0.5rem;

    .btns {
      display: flex;
      justify-content: center;
      margin-top: 0.2rem;
      button {
        background-color: transparent;
        color: white;
        border: solid;
        border-color: rgb(119, 119, 119);
        border-width: 1px;

        margin-right: 3px;
      }
    }
  }
}
