.alarm-card {
  width: 100%;
  background-color: $secondary;
  color: $tertiary-color;
  border-radius: 15px;
  margin: 1rem 0rem 1rem 0rem;
  //animation: myAnim 3s linear 0s infinite normal none;

  .intermitent {
    animation: myAnim 3s linear 0s infinite normal none;
  }

  @keyframes myAnim {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  .card-title {
    font-size: medium;

    img {
      margin-right: 0.5rem;
    }
  }

  .card-text {
    font-weight: 200;
    font-size: small;
  }

  .btn-alarm {
    a {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
