.alarm-card {
  width: 22rem;
  background-color: $secondary;
  color: $tertiary-color;
  border-radius: 15px;

  .bell-icon {
    color: red;
  }

  .card-text {
    font-weight: 300;
  }

  .btn-alarm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
