.nav-bar-main {
  padding: 0.5rem 3rem;
  box-shadow: 0px 9px 20px -7px rgba(0, 0, 0, 0.363);
  background-color: $secondary;

  .page-title {
    font-family: $fonts;
    font-weight: 600;
    color: $tertiary-color;
  }

  .btn-logout {
    font-family: $fonts;
  }
}
