.text-field {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: $fonts;

  .form-label {
    margin-bottom: 0.5rem;

    font-weight: 300;
    color: $tertiary-color;
  }

  .form-control {
    font-weight: 200;
    color: $tertiary-color;
  }

  .invalid-feedback {
    padding: 0;
    margin-top: 0.5rem;
    border-style: none;
    background: none;
    color: $red-500;
  }
}
