* {
  box-sizing: border-box;
}

/*Colors*/
$main: #d70e11;
$transparency: #d70e1185;
$secondary: #000;
$transparency-second: #1b171798;
$tertiary-color: #fff;
$transparency-tertiary: #ffffff8f;

/*Theme colors*/
$theme-colors: (
  "main": $main,
  "transparency": $transparency,
  "secondary": $secondary,
  "transparency-second": $transparency-second,
);

/*Fonts*/
$fonts: "Kanit", sans-serif;
$spacing: 2rem;

/*Breakpoints*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
